<div class="affix">
  <%= link_to "Boards", boards_path %>
  <%= link_to "Edges", edges_path %>
  <%= link_to "Fittings", fittings_path %>
  <%= link_to "Specials", specials_path %>
  <%= link_to "Varnish", varnish_path %>
  <%= link_to "veneer", veneer_path %>
  <%= link_to "wood", wood_path %>
  <%= link_to "surface", surface_path %>
  <%= link_to "wall", wall_path %>
  <%= link_to "floor", floor_path %>
</div>