<!DOCTYPE html>
<html>
<head>
  <title>Materials</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<%= yield %>
</body>
</html>

<script>
    function openNav(h_id, img_name, density, path, img_src, clr_id) {
        const image = document.getElementById("img_id")
        image.innerText = h_id
        const name = document.getElementById("img_name")
        name.innerText = img_name
        const den = document.getElementById("density")
        den.innerText = density
        // alert(clr_id)
        const clr = document.getElementById("clr_id")
        clr.innerText = clr_id
        document.getElementById("thumbnail_image").src = `${img_src}`
        document.getElementById("mySidebar").style.width = "278px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
    }
</script>